.our_contect_section {
    padding: 50px 0;
}

.our_contact_title {
    color: #cf0000;
    font-family: var(--secondery-fonts);
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
}

.our_contact_pera {
    color: #575757;
    font-size: 18px;
    font-weight: 500;
}

.contact_box {
    width: 100%;
    padding: 40px 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    cursor: pointer;
}

.contact_icon_box {
    color: #cf0000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid gray;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}

.contact_box:hover .contact_icon_box {
    color: white;
    border: 1px solid #cf0000;
    background-color: #cf0000;
}

.contact_box_title {
    color: #333;
    font-family: var(--secondery-fonts);
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 5px;
}

.contact_box_peragraph {
    color: #575757;
    font-size: 16px;
    font-weight: 500;
}

.contact_google_map {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 400px
}

.our_contact_asking_title {
    color: #333;
    font-family: var(--secondery-fonts);
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

.our_contact_asking_btn {
    width: 100%;
    color: #fff;
    font-family: var(--secondery-fonts);
    padding: 10px 0px;
    text-align: center;
    border: 1px solid #fff;
    background: linear-gradient(214.38deg, #ff8079 -2.24%, #ff1e1e 59.38%);
}